/* Parallel-flow demo css */
:root {
  --pagedjs-baseline: 16px;
}

section {
  width: 64mm !important;
  height: 185mm !important;
  p:first-child {
    margin-top: 0;
  }
}

@font-face {
  font-family: AntiqueSerie;
  src: url('./fonts/AntiqueSerie-Regular.woff');
}

@font-face {
  font-family: cmuntb;
  src: url('./fonts/cmuntb.ttf');
}

section p {
  margin: 0;
  color: black;
}

@page {
  margin-top: 15mm;
  margin-bottom: 39mm;
  size: 170mm 240mm;
  @bottom-center {
    content: counter(page);
    font-family: 'Times New Roman', Times, serif;
    font-size: 9.5pt;
    align-self: flex-start;
    padding-top: 1em;
  };
  @top-center{
    width: 6mm;
    content: "";
  }
  @top-left {
    content: 'F';
    text-align: center;
    font-family: AntiqueSerie;
    font-size: 9pt;
  }
  @top-right {
    content: 'E';
    text-align: center;
    font-family: AntiqueSerie;
    font-size: 9pt;
  }
}

@page:right{
  margin-left: 15mm;
  margin-right: 21mm;
}

@page:left{
  margin-left: 21mm;
  margin-right: 15mm;
}

@page:nth(14){
  margin-bottom: 30mm
}

@page:nth(15){
  margin-bottom: 30mm
}

#fnref_fr1 {
  vertical-align: 50%;
  margin-left: 1px;
}

@page:nth(1){
  @bottom-center {
    content:'';
  }
  @top-right{
    content: "";
  };
  @top-left{
    content:"";
  }
}
@page:nth(2){
  @bottom-center {
    content:'';
  }
  @top-right{
    content: "";
  };
  @top-left{
    content:"";
  }
}
@page:nth(3){
  @bottom-center {
    content:'';
  }
  @top-right{
    content: "";
  };
  @top-left{
    content:"";
  }
}
@page:nth(16){
  @bottom-center {
    content:'';
  }
  @top-right{
    content: "";
  };
  @top-left{
    content:"";
  }
}

section.a {
  /*parallel-flow: name,  this will trigger the parallel-flow script*/
  --parallel-flow: beta;
  margin-left: 0;
}

section.c {
  margin-left: auto;
  --parallel-flow: beta;
}

p {
  font-family: 'Times New Roman', Times, serif;
  font-size: 9.5pt;
  line-height: 4mm;
}

.p-indent {
  text-indent: 6mm;
}

section {
  break-before: page;
}

h1 {
  font-family: AntiqueSerie;
  /* break-after: always; */
  font-size: 8.5pt;
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}

h1 .footnote-ref{
  font-family: AntiqueSerie;
}

h2 {
  margin-top: 0;
}

h4 {
  font-family: AntiqueSerie;
  font-size: 8pt;
  /* break-after: always; */
  display: flex;
  height: 100%;
  justify-content: space-around;
  align-items: center;
  text-transform: uppercase;
}

h3 {
  display: flex;
  font-style: italic;
  justify-content: center;
  width: 100%;
  font-size: 9.5pt;
  font-weight: 400;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;

  line-height: 4mm;
  margin-top: 4mm;
  margin-bottom: 4mm;
}

code {
  font-family: cmuntb;
  font-size: 9.5pt;
}

pre {
  margin-top: 4mm;
  margin-bottom: 4mm;
}

blockquote {
  margin: 0 0 0 6mm;
}

h3:first-of-type {
  margin-top: 0;
}

.force-break {
  break-before: always;
}

.footnotes {
  break-before: always;
}

.footnotes li::marker {
  font-size: 6.5pt;
}

.footnotes p {
  font-size: 7.5pt;
  line-height: 3mm;
}

#fig_1_fr {
  --parallel-impact: all;
  width: 134mm;
}

a {
  text-decoration: none;
  color: black;
  font-weight: 600;
  font-size: 7pt;
}

.footnote-backref {
  display: none;
}

blockquote p{
  width: 105%;
}

.footnote-ref {
  font-family: 'Times New Roman', Times, serif;
  font-size: 0.6em;
  vertical-align: super;
  line-height: 0;
  color: #000000;
  font-weight: bold;
  /* margin-left: -3px; */
}

ol.footnotes-list {
  margin-top: 4mm;
  padding-inline-start: 10px;
  /* background-color: red; */
}

.span_right {
  position: absolute;
  right: 7mm;
}

.title-note {
  font-family: AntiqueSerie;
  font-size: 9.5pt;
  display: block;
  position: absolute;
  width: 65mm;
  bottom: 0;
}

#title {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  justify-content: center;
  gap: 15mm;
}